<div class="navbar">
  <%= image_tag "https://res.cloudinary.com/dsgxgstvy/image/upload/v1582639749/artit_logo_fa2sdy.png", height: '50', width: '50'%>
  <div class="links" class="text-right">
    <h1><%= link_to 'Sign in', new_user_session_path, class: 'btn-nav' %></h1>
    <h1><%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'You Sure?' }, class: 'btn-nav' %></h1>
    <% if user_signed_in? %>
      <h1><%= link_to 'Profile', owner_arts_path, class: 'btn-nav' %></h1>
     <%= cl_image_tag("fXeFR2biE56cJBVFhWd6otvt", :width=>50, :height=>50, :gravity=>"face", :radius=>"max", :crop=>"thumb", class: 'avatar') %>
    <% end %>
  </div>
</div>


