<div class="navbar fixed-top navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to arts_path, class: "navbar-brand" do %>
    <%= image_tag("logo_transparent.png", height: '100', width: '100', class: 'logo') %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Forum', messages_path , class: "nav-link" %>
        <%= link_to "artIT", "#", class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <% if !user_signed_in? || !current_user.photo.attached? %>
          <%= image_tag('logo.png', class: "avatar dropdown-toggle", data: { toggle: "dropdown" })  %>
        <% else %>
          <%= cl_image_tag current_user.photo.key, :width=> 60, :height=> 60, :gravity=>"face", :crop=>"thumb", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <a href="#" class="dropdown-item"><%= current_user.email %></a>
          <% end %>
          <%= link_to 'Profile', myprofile_path, class: "dropdown-item" %>
          <%= link_to 'Listings', owner_arts_path, class: "dropdown-item" %>
          <%= link_to 'Rentals', rentals_path, class: "dropdown-item" %>
          <%= link_to 'New Listing', new_owner_art_path, class: "dropdown-item" %>
          <% if user_signed_in? %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'You Sure?' }, class: "dropdown-item" %>
          <% else %>
            <%= link_to 'Sign in', user_session_path, class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
