<div class="navbar">
  <%= link_to image_tag("logo_transparent.png", height: '100', width: '100', class: 'logo'), arts_path %>
  <div class="links" class="text-right">
      <%= link_to 'About us', about_path, class: 'words' %>
      <%= link_to 'Contact us', contact_path, class: 'words' %>
      <% unless user_signed_in? %>
        <%= link_to 'Sign in', new_user_session_path, class: 'words' %>
      <% end %>
      <%= link_to cl_image_tag("fXeFR2biE56cJBVFhWd6otvt", :width=> 60, :height=> 60, :gravity=>"face", :radius=>"max", :crop=>"thumb", class: 'avatar'), owner_arts_path %>
  </div>
</div>


