<h1 style="font-size: 35px;" class="headers m-1 p-0 text-left" >My Rentals</h1>

<table class="table table-bordered m-1 p-0">
  <thead>
    <tr>
      <th>Art Name</th>
      <th>Owner</th>
      <th>Start</th>
      <th>End</th>
      <th>Days Left</th>
      <th>Price / night</th>
      <th>Total Price</th>
      <th>Add Reviews</th>
    </tr>
  </thead>
  <tbody>
    <% @rentals.each do |rental| %>
      <tr scope="row">
        <td><%= link_to art_path(rental.art) do rental.art.name.capitalize end %></td>
        <td><%= rental.art.user.username.capitalize %></td>
        <td><%= rental.rental_start %></td>
        <td><%= rental.rental_end %></td>
        <td><%= days_left(rental) %></td>
        <td><%= numbers(rental.art.price) %> $</td>
        <td><%= total_price(rental.art, rental.rental_start, rental.rental_end) %></td>
        <td> <%= link_to '🧸', new_art_review_path(rental.art) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

