
<h1 class="headers">My Listings</h1>

<div class="container">
  <div class="row justify-content-center">
    <% @arts.each do |art| %>
      <div class="col-4">
        <div class="card space responsive-width card-scroll">
          <div class="view overlay">
            <div class="card-image-sizing"><%= photo art %></div>
              <div class="mask rgba-white-slight"></div>
          </div>
          <div class="card-body p-0" style="padding-left: 30px;">
            <div class="p-3">
              <h4 class="card-title" style="font-size: 1.5vw;"><%= art.name.capitalize %></h4>
              <p class="card-text" style="font-size: 1vw; margin: 10px"><%= art.artist %></p>
              <p class="card-text" style="font-size: 12px; margin: 10px"><%= count_stars(art) %></p>
              <p class="card-text" style="font-size: 14px; margin: 10px"><%= numbers(art.price) %> $ / day</p>
              <%= link_to 'Show Art', owner_art_path(art), class: 'btn btn-warning' %>
              <p style="font-size: 10px; float: right; margin-top: 25px; color: lightgrey"><%= time_pass(art) %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
