
<div style="padding-bottom: 120px">
  <div class="row">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dsgxgstvy/image/upload/v1582638749/igor-miske-oLhTLD-RBsc-unsplash_p30ju4.jpg);">
  <div class="container">
    <h1>ArtIT makes art easy</h1>
    <p>Rent Art for your home, office, or event.
    Search 1000's of art pieces near you today.
    </p>
    <button class="button">
  Rent Art
  <div class="button__horizontal"></div>
  <div class="button__vertical"></div>
</button>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <% @arts.each do |art| %>
      <div class="col-4">
        <div class="card space">
          <div class="view overlay">
            <img class="card-img-top" src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="card-body card-scroll" style="padding-left: 30px;">
            <h4 class="card-title"><%= art.name.capitalize %></h4>
            <p class="card-text" style="font-size: 12px; margin: 10px"><%= art.artist %></p>
            <p class="card-text" style="font-size: 12px; margin: 10px"><%= count_stars(art) %></p>
            <p class="card-text" style="font-size: 14px; margin: 10px"><%= numbers(art.price) %> $ / day</p>
            <%= link_to 'Show Art', art_path(art), class: 'btn btn-warning' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
